@keyframes color {
  0% {
    color: transparent;
  }
  to {
    color: #323232;
  }
}

@keyframes swipe {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"],
legend {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

.hidden,
[hidden],
template {
  display: none;
}

@media (min-width: 1050px) {
  :focus {
    outline: 2px dotted #2eb398;
    outline-offset: -2px;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat-300.woff2") format("woff2"), url("../fonts/montserrat-300.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
  font-family: "Pattaya";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Pattaya"), local("Pattaya-Regular"), url("../fonts/pattaya-regular.woff2") format("woff2"), url("../fonts/pattaya-regular.woff") format("woff");
}

button {
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #323232;
  background-color: #f2f2f2;
}

.title {
  margin: 0;
  font-weight: 400;
}

.title--section {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: calc(0.8em + 1vw);
  line-height: 2;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 0.3em;
}

.section {
  padding: 30px 0;
  text-align: center;
}

.section:nth-child(even) {
  background-color: rgba(250, 250, 250, .7);
}

.wrapper {
  position: relative;
  padding: 0 7.5%;
  max-width: 1250px;
  margin: 0 auto;
}

.block {
  padding-top: 20px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .title::after {
    left: -18%;
    right: -18%;
  }
  .block {
    padding-top: 30px;
  }
}

@media (min-width: 1050px) {
  body {
    font-size: 18px;
  }
  .block {
    padding-top: 40px;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #323232;
}

.main-nav__list {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
}

.main-nav__item a {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  color: #dad5cb;
  transition: 0.4s ease-out;
}

@media (max-width: 767px) {
  .main-nav.sticky {
    background-color: transparent;
  }

  .main-nav__toggle {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px 5%;
    border-radius: 50%;
    z-index: 999;
  }

  .main-nav__toggle.sticky:not(.active) {
    background-color: rgba(50, 50, 50, 0.6);
    transition: .3s ease-out;
  }

  .main-nav__toggle.sticky:not(.active):hover {
    background-color: rgba(50, 50, 50, 1);
  }

  .main-nav__icon {
    position: relative;
    margin: 0 auto;
    display: block;
  }

  .main-nav__icon,
  .main-nav__icon::before,
  .main-nav__icon::after {
    width: 20px;
    height: 2px;
    background-color: #f2f2f2;
  }

  .main-nav__icon::before,
  .main-nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: transform .5s;
  }

  .main-nav__icon::before {
    top: -7.5px;
  }

  .main-nav__icon::after {
    bottom: -7.5px;
  }

  .main-nav__toggle.active .main-nav__icon {
    background-color: transparent;
  }

  .main-nav__toggle.active .main-nav__icon::before,
  .main-nav__toggle.active .main-nav__icon::after {
    top: 0;
    bottom: 0;
  }

  .main-nav__toggle.active .main-nav__icon::before {
    transform: rotate(45deg);
  }

  .main-nav__toggle.active .main-nav__icon::after {
    transform: rotate(-45deg);
  }

  .main-nav__list {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-bottom-right-radius: 100%;
    background-color: #323232;
    transition: height 0.5s, width 0.5s, padding 0.5s;
    overflow: hidden;
  }

  .main-nav__list.active {
    width: 120vw;
    height: 120vw;
    padding: 50px 0  0 50px;
  }

  .main-nav__item a {
    width: 100%;
    padding: 15px 5%;
  }
}

@media (min-width: 768px) {
  .main-nav.sticky {
    transform: translateY(-100%);
    transition: transform 1s;
  }

  .main-nav.opened {
    transform: translateY(0%);
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .main-nav__item {
    margin: 0 3.5%;
  }

  .main-nav__item a {
    padding: 20px 0;
  }

  .main-nav__item a::before,
  .main-nav__item a::after {
    content: "";
    position: absolute;
    bottom: 12.5px;
    width: 0%;
    height: 1px;
    background-color: #dad5cb;
    transition: 0.8s;
  }

  .main-nav__item a::before {
    left: 50%;
  }

  .main-nav__item a::after {
    right: 50%;
  }

  .main-nav__item a:focus,
  .main-nav__item a:hover {
    color: #dad5cb;
    background-color: transparent;
  }

  .main-nav__item a:hover::before,
  .main-nav__item a:focus::before,
  .main-nav__item a:hover::after,
  .main-nav__item a:focus::after {
    width: 50%;
  }

  .main-nav__item a:active {
    color: #b32e49;
  }

  .main-nav__item a:active::before,
  .main-nav__item a:active::after {
    background-color: transparent;
  }
}

.intro {
  font-weight: 300;
  background-color: #f2f2f2;
}

.intro__wrapper {
  box-sizing: border-box;
  padding: 0 7.5%;
}

.intro__text,
.intro__title {
  display: inline-block;
  vertical-align: top;
  line-height: 48px;
  white-space: nowrap;
  animation: pulse 1.1s, color 0.6s;
  animation-timing-function: ease-out;
}

.intro__text {
  padding-right: 10px;
  font-size: calc(12px + 1.5vw);
}

.intro__title {
  float: right;
  font-family: "Pattaya", "Open Sans Condensed", sans-serif;
  font-size: calc(24px + 2vw);
  animation-delay: 1.25s;
  animation-fill-mode: backwards;
}

.intro__cover {
  margin-bottom: 10px;
}

.intro__desc {
  display: block;
  font-size: calc(12px + 1.5vw);
  animation: pulse 1.5s, color 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: backwards;
  text-align: center;
}

@media (min-width: 768px) {
  .intro__wrapper {
    max-width: 700px;
    padding: 0 30px;
    margin: 0 auto;
  }
  .intro__text,
  .intro__title {
    line-height: 62px;
  }
  .intro__desc,
  .intro__text {
    font-size: 28px;
  }
  .intro__title {
    font-size: 48px;
  }
  .intro__cover {
    margin-bottom: 20px;
  }
}

@media (min-width: 1050px) {
  .intro__column,
  .intro__wrapper {
    display: flex;
    flex-direction: column;
  }
  .intro__wrapper {
    flex-wrap: wrap;
    max-width: 1200px;
    max-height: 450px;
    padding: 0 45px;
  }
  .intro__column {
    width: 48%;
    padding-top: 30px;
  }
  .intro__column:first-child {
    margin-bottom: auto;
  }
  .intro__cover {
    margin-bottom: 0;
    order: 3;
    width: 50%;
    font-size: 0;
  }
  .intro__cover img {
    height: 100%;
  }
  .intro__title {
    font-size: 56px;
  }
  .intro__text {
    margin-bottom: 60px;
  }
  .intro__desc {
    text-align: inherit;
  }
}

.portfolio__block {
  display: grid;
  justify-content: center;
  row-gap: 30px;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(46, 179, 152, 0.5);
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
}

.portfolio__info {
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #323232;
  cursor: default;
}

.portfolio__info .big {
  font-size: 24px;
  font-family: "Pattaya", "Open Sans Condensed", sans-serif;
}

@media (min-width: 768px) {
  .portfolio__block {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1vw;
    row-gap: 1vw;
    justify-content: center;
  }

  .portfolio__item {
    perspective: 1400px;
  }

  .portfolio__card:hover {
    transform: translateZ(0px);
  }

  .portfolio__info {
    font-size: 16px;
  }
}

@media (min-width: 1050px) {
  .portfolio__info {
    font-size: 20px;
  }

  .portfolio__info .big {
    font-family: "Pattaya", "Open Sans Condensed", sans-serif;
    font-size: 24px;
  }
}

.about-me {
  margin: 0 auto;
}

.about-me__list {
  display: grid;
  grid-template-columns: fit-content(500px);
  justify-content: center;
  row-gap: 40px;
  column-gap: 15px;
  padding-bottom: 15px;
}

.about-me__item {
  position: relative;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity .5s;
}

.about-me__item::before {
  content: "";
  position: absolute;
}

@media (max-width: 767px) {
  .about-me__item {
    padding: 10px;
    border: 1px solid #2eb398;
    border-radius: 8px;
  }

  .about-me__item::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 15px);
    height: calc(100% + 15px);
    border-radius: 8px;
    border: 1px solid #2eb398;
  }

  .about-me__item img {
    display: none;
  }
}

@media (min-width: 768px) {
  .about-me__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-me__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    text-align: left;
    background-color: rgba(250, 250, 250, .7);
    border-radius: 8px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@media (min-width: 1050px) {
  .about-me__item {
    min-height: 180px;
    padding: 30px;
  }

  .about-me__item img {
    width: auto;
    height: 100px;
  }
}

.skills__slider {
  padding: 40px 0;
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #b32e49;
  text-align: center;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.skills__item:hover {
  filter: grayscale(0%);
}

.skills__info {
  padding-top: 10px;
  font-family: "Pattaya", "Open Sans Condensed", sans-serif;
  font-size: 18px;
  cursor: default;
}

.skills__btn {
  display: none;
}

@media(min-width: 768px) {
  .skills__btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: #323232;
    z-index: 999;
    fill: currentColor;
    opacity: 0.7;
    transition: .4s ease-out;
  }

  .skills__btn--prev {
    left: 3.5%;
  }

  .skills__btn--next {
    right: 3.5%;
  }

  .skills__btn:hover,
  .skills__btn:focus {
    color: #b32e49;
    opacity: 1;
  }

  .skills__btn:active {
    opacity: 0.7;
  }
}

.main-footer {
  display: grid;
  color: #dad5cb;
  background-color: #323232;
}

.main-footer__column:first-child {
  background-color: #b32e49;
}

.main-footer .title {
  margin-bottom: 20px;
  font-family: "Pattaya", "Open Sans Condensed", sans-serif;
  font-size: calc(1.5em + 1.5vw);
}

@media (min-width: 768px) {
  .main-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contacts__text {
  max-width: 400px;
  margin: 0 auto 15px;
}

.contacts__item {
  padding: 7.5px 0;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dad5cb;
}

.contacts__item svg {
  margin-right: 10px;
  fill: currentColor;
}

.social__text {
  margin: 0 0 15px;
  font-size: 26px;
  font-family: "Pattaya", "Open Sans Condensed", sans-serif;
  text-align: center;
}

.social__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 15px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #323232;
  border-radius: 50%;
  background-color: #dad5cb;
  transition: color 0.3s ease-out;
}

.social__btn:focus,
.social__btn:hover {
  color: #b32e49;
}

.social__btn:active {
  opacity: 0.7;
}

@media (min-width: 1050px) {
  .social__text {
    font-size: 38px;
  }
}

.copyright {
  padding: 20px 0;
  font-size: .8em;
  text-align: center;
}

.copyright a {
  color: #b32e49;
  text-decoration: none;
}

.top__btn:not(.hidden) {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 50px;
  height: 50px;
  top: 85%;
  right: 3%;
  background: rgba(203, 196, 182, 0.6);
  border-radius: 50%;
  border: 0;
}

.page-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, .7);
  z-index: 999;
  text-align: center;
}

.popup {
  position: absolute;
  top: 50%;
  overflow: auto;
  z-index: 9999;
  text-align: center;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99999;
  opacity: 0.5;
}

.popup__close:hover,
.popup__close:focus {
  opacity: 1;
}

.popup__link {
  display: inline-block;
  padding: 8px 20px;
  color: #f2f2f2;
  font-weight: 500;
  background-color: #b32e49;
  border-radius: 8px;
  transition: .3s ease-out;
}

.popup__picture {
  vertical-align: bottom;
}

@media (max-width: 1049px) {
  .popup {
    transform: translate(0, -50%);
  }

  .popup__gallery {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 0 10% 15px;
  }

  .popup__preview {
    min-width: 100%;
    margin-right: 10%;
    scroll-snap-align: center;
    text-align: center;
    position: relative;
  }

  .popup__big-picture {
    display: none;
  }

  .popup__swipe {
    position: absolute;
    left: calc(50% - 15px);
    bottom: 20px;
    z-index: 9999;
    animation: swipe 1.5s infinite ease-in-out;
  }

  .popup__picture {
    max-height: 65vh;
  }
}

@media (min-width: 1050px) {
  .popup {
    max-height: 95vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup__gallery {
    display: grid;
    grid-template-columns: minmax(max-content, min-content) 100px;
    grid-template-rows: max-content;
    align-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 20px;
  }

  .popup__swipe {
    display: none;
  }

  .popup__big-picture {
    grid-column: 1/2;
    grid-row: 1/6;
  }

  .popup__preview {
    grid-column: 2/3;
    opacity: .7;
  }

  .popup__preview:hover,
  .popup__preview:focus {
    opacity: 1;
  }

  .popup__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.popup-open {
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
}
