body {
    min-width: 1200px; 
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}

.site-wrapper {
    min-width: 1200px;
    
    background-color: #849d8f;
    background-image: url("../img/morozki1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";

    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/morozki2.png");
}

.site-wrapper::after {
    background-image: url("../img/morozki3.png");
}

.content-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

.container {
    position: relative;
    padding: 0 2.3%;
}

.inner-page {
    background: #849d8f;
    min-width: 1200px;
}

a {
    text-decoration: none;
    cursor: pointer;  
}

.site-wrapper a.disabled,
.inner-page a.disabled {
    pointer-events: none; 
    cursor: default; 
}

.site-wrapper a.site-link-light, 
.inner-page a.site-link-light {
    color: #ffffff;
    text-decoration: underline;
}

.site-wrapper a.site-link-light:hover,
.site-wrapper a.site-link-light:focus,
.site-wrapper a.site-link-light:active,
.inner-page a.site-link-light:hover,
.inner-page a.site-link-light:focus,
.inner-page a.site-link-light:active {
    color: #ffbc9e;
    transition: 0.2s
}

.site-wrapper a.site-link-dark,
.inner-page a.site-link-dark {
    color: #323232;
    text-decoration: underline;
}

.site-wrapper a.site-link-dark:hover, 
.site-wrapper a.site-link-dark:focus, 
.site-wrapper a.site-link-dark:active,
.inner-page a.site-link-dark:hover, 
.inner-page a.site-link-dark:focus, 
.inner-page a.site-link-dark:active {
    color: #e84d37;
    transition: 0.2s;
    background-color: transparent;
}

.field {
    padding: 10px 14px;

    height: 44px;
    box-sizing: border-box;  

    font-size: 14px;
    line-height: 24px;
    color: #323232;

    font-weight: 700;

    background-color: #ffffff;
    border: 
        1px solid rgba(178,178,178,0.52);
    border-radius: 5px;

    overflow: hidden;
}

::-webkit-input-placeholder {
    font-weight: 400;
    color: #999999;
}
::-moz-placeholder {
    font-weight: 400;
    color: #999999;
}
:-ms-input-placeholder { 
    font-weight: 400;
    color: #999999;
}
:-moz-placeholder { 
    font-weight: 400;
    color: #999999;
}

.field:hover,
.field:focus {
    border: 1px solid rgba(154,154,154,0.52);
    box-shadow: inset 0 0 0 1px rgba(154,154,154,0.52);  
    transition: 0.2s
}

.field:focus::-webkit-input-placeholder {
    color: transparent;
}

.field:focus::-moz-placeholder {
    color: transparent;
}
 
.field:focus:-moz-placeholder {
    color: transparent;
}
 
.field:focus:-ms-input-placeholder {
    color: transparent;
}

.field:active {
    border: 1px solid rgba(76,42,0,0.52);
    box-shadow: inset 0 0 0 1px rgba(76,42,0,0.52);  
}

.btn {
    display: inline-block;
    padding: 11px 23px;
    
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    white-space: nowrap;
    text-align: center;
    vertical-align: top;
    
    background-color: #ef6140;
    background: linear-gradient(#f26843, #ca3824);
    border-radius: 20px;  
    border: none;
    box-shadow: 0 2px 2px rgba(85,8,0,0.54);
    
    cursor: pointer;    
}

.btn:hover,
.btn:focus {
    background: linear-gradient(#f58669,#e74a35);
    box-shadow: 0 1px 2px #ac1000;   
    transition: 0.2s
}

.btn:active {
    background: linear-gradient(#f26843, #e74a35);
    box-shadow: inset 0 2px 2px #942718;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.4;
 }

img {
  max-width: 100%;
  height: auto;
}

.invisible:not(:focus):not(:active),
input[type="checkbox"].invisible,
input[type="radio"].invisible,
.invisible:not(:focus):active {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
    margin-bottom: 320px;
    padding-top: 9px;
    color: #ffffff;
}

.main-nav { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;   
}

.main-logo {
    margin-right: 10px;
    width: 154px;
    height: 64px;     
}

.site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    width: 406px;
    margin: 0;
    padding: 0;  
    
    list-style: none;
}

.site-nav a,
.user-block a {
    display: inline-block;
    position: relative;
    margin-top: 14px;
    
    vertical-align: top;
}

.main-nav a {
    text-align: center;
    vertical-align: top;
    color: #ffffff;
}

.site-nav-item {
    position: relative;
}

.site-nav-item > a {
    padding: 6.5px 14px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;  
}

.site-nav-item > a:not(.current)::after {
    content: "";
    
    position: relative;
    display: block;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}

.site-nav-item > a:hover,
.site-nav-item > a:focus {
    color: #333333;
    
    border-radius: 18px;
    background-color: #f7f6f3;
    
    transition: 0.2s
}

.site-nav-item > a:active {
    border-radius: 18px;
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.site-nav-item a.current {
    border-radius: 18px;
    background-color: #d07058;
    box-shadow: inset 0 2px 1px rgba(105,105,105,0);
}

.site-nav-item:hover .main-dropdown,
.site-nav-item:focus .main-dropdown {
    display: inline-block;
    vertical-align: top;
    
    transition: 0.2s
}

ul.main-dropdown {
    display: none;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50px;
    margin: 0;
    margin-left: -7px;
    
    padding: 0;
    
    width: 143px;
    box-sizing: border-box;
    
    font: inherit;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    
    overflow: hidden;    
    list-style: none;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
    border-radius: 5px;
}

li.dropdown-item-special a {
    position: relative;
   
    padding-top: 11px;
    padding-bottom: 13px;
    
    font-weight: 700;
}

.dropdown-item-special a::after {
    content: "";
    position: absolute;
    right: 9px;
    bottom: 0;
    left: 6px;
    height: 1px;
    background-color: rgba(53,53,53,.2);
}

.main-dropdown a {
    margin: 0;
    display: block;
    
    padding: 8px 5px 8px 22px;
    
    text-align: left;
    font: inherit;
    color: #323232;
}

.main-dropdown a:hover,
.main-dropdown a:focus {
    background-color: #fbded7;
    border-radius: 0;
    
    transition: 0.2s
}

.main-dropdown a:active {
    background-color: #f6b5a5;
    border-radius: 0;
}

.site-nav-item a.item-current {
    background-color: #d07058;
    border-radius: 0;
}

.user-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
            -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    min-width: 267px;
    margin-left: auto;
}

.user-block a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
    
    background-color: rgba(255,255,255,0.2);
    border-radius: 18px;
}

.user-block a:hover,
.user-block a:focus {
    color: #333333;
    
    background-color: #f8f7f4;
    transition: 0.2s
}

.user-block form {
    position: absolute;
    display: none;
    
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.search,
.login-link,
.cart {
    position: relative;
}

.search-form {
    z-index: 20;
    top: 51px;
    right: 0;
    box-sizing: border-box; 
    width: 340px;
    padding: 20px 15px;
    
    border-radius: 5px;
}

.search:hover .search-form,
.search:focus .search-form {
    display: block;
    transition: 0.2s
}

.search .field {
    border-radius: 5px;
    min-width: 310px;
}

.search a {
    width: 32px;
    height: 32px;
}

.search-img,
.login-img,
.cart-img {
    position: absolute;
    top: 50%;
}

.search-img {
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
}

.search a:hover .search-img path,
.login-link a:hover .login-img path,
.cart-empty a:hover .cart-img path,
.cart-empty a:hover .cart-img circle,
.search a:focus .search-img path,
.login-link a:focus .login-img path,
.cart-empty a:focus .cart-img path,
.cart-empty a:focus .cart-img circle {
    fill: #333333;
    transition: 0.2s
}

.user-nav {
    margin: 0;
    padding: 0;
        
    list-style: none;    
}

.login-form {
    z-index: 20;
   
    top: 51px;
    right: 0;
    
    padding: 18px 18px 20px;
    
    border-radius: 5px;
}

.user-nav:hover .login-form,
.user-nav:focus .login-form {
    display: block;
    transition: 0.2s
}

.login-link .field {
    margin: 0;
    min-width: 240px;
    
    margin-bottom: 20px;
}

.login-link a {
    text-align: right;
    margin-left: 10px;
    padding: 8px 16px 8px 43px;   
}

.login-img ,
.cart-img {
    left: 15px;
    -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
}

.login-btn {
    padding: 10.5px 22.5px;
}

.reg-links {
    display: inline-block;
    max-width: 120px;   
    
    box-sizing: border-box;
    margin-left: 16px;
    vertical-align: top;
}

.reg-links a {
    margin: 0;
    margin-top: -3px;
    padding: 0;
    font: inherit;
    font-size: 13px;
    line-height: 24px;
    background-color: transparent;    
}

.reg-links a:first-child {
    margin-top: 0;    
}

.cart {
    margin: 0;
    padding: 0;
}

.cart > a {
    width: 117px;
    height: 32px;
    box-sizing: border-box;
    
    margin-left: 10px;
    padding: 8px 0 8px 10px;
}

.cart-full a {
    color: #323232;
    padding-left: 25px;
    background-color: #f8f7f4;
}

.cart:hover .table-box,
.cart:focus .table-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition: 0.2s
}

.table-box {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    position: absolute;
    z-index: 20;
    top: 51px;
    right: 0;
    width: 540px;
    
    padding: 16px 13px 0 18px;
    box-sizing: border-box; 
    
    color: #323232;
    
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.cart-table {
    font-size: 13px;
    line-height: 16px;
    width: 100%; 
    border-bottom: 1px solid #cacac7;
    padding-right: 5px;
    padding-bottom: 4px;
}

.cart-table a {
    margin: 0;
    padding: 0;
    
    font-size: 13px;
    line-height: 16px;
    text-align: left;    

    background-color: transparent;
}

.cart-table tr {
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
}

.cart-table td {
    margin-right: 0;
    box-sizing: border-box;
    padding-bottom: 14px;
}

.cart-table td:first-child {
    width: 18px;
}

.cart-table td:nth-child(2) {
    width: 45px;
}

.cart-table td:nth-child(3) {
    width: 245px;
}

.cart-table td:nth-child(4){
    width: 110px;
}
.cart-table td:last-child {
    padding-right: 18px;
    
    text-align: right;
}

.cart-btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    
    margin: 0 0 22px auto;
    margin-bottom: 22px;
    padding: 10px 12px;
    
    text-align: right;
}

.paletext {
    color: #999999;
}

.cart-total-price {
    margin: 15px 0;
    font-size: 15px;
    line-height: 18px;
    
    text-align: right;
}

.delete {
    font-size: 0;
    
    padding: 0;
    
    width: 11px;
    height: 11px;
    background: url("/img/x.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    
    cursor: pointer;
}

.customer-info {
    margin-bottom: -45px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}
.customer-info .schedule {
    margin: 0;
    padding: 0;
}
.customer-info .phone-number {
    margin-top: 5px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 800;
}

/*Слайдер*/
.slider {
    position: relative;
    
    margin-bottom: 40px;
    
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slide {
    display: none;
    position: relative;
}

.slide h3 {
    width: 703px;
    margin: 0 auto;
    margin-bottom: 28px;
    
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide-btn {
    padding: 11px 42px;

    font-size: 32px;
    line-height: 44px;
    vertical-align: top;
    
    background-color: #ef6140;
    background: linear-gradient(#f26843, #e74a35);
    border-radius: 50px;  
        
    box-shadow: 0 2px 2px rgba(172,16,0,0.64);
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
}

.slide-btn:hover,
.slide-btn:focus {
    background: linear-gradient(#f58669,#ec6f5e);
    box-shadow: 0 2px 2px #ac1000;   
    
    transition: 0.2s
}

.slide-btn:active {
    background: linear-gradient(#d74632, #e1613e);
    box-shadow: inset 0 2px 2px #942718;
}
    
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
    
.product-1:checked ~ .site-wrapper label[for="product-1"],
.product-2:checked ~ .site-wrapper label[for="product-2"],
.product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

.product-1:checked ~ .site-wrapper {
    background-image: url(../img/morozki1.png);
    background-color: #849d8f;
}

.product-2:checked ~ .site-wrapper {
    background-image: url(../img/morozki2.png);
    background-color: #8996a6;
}

.product-3:checked ~ .site-wrapper {
    background-image: url(../img/morozki3.png);
    background-color: #9d8b84;
}

.slide-btn:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    
    transition: 0.2s
}

.slide-btn:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-control {
    position: absolute;
    left: 2.3%;
    bottom: 22px;
    z-index: 20;
    
    font-size: 0;
}

.slider-control label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-control label:hover {
    background-color: rgba(255,255,255,0.4);
    transition: 0.2s
}

/*Акции*/

.index-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-pack: justify;
    
            -ms-flex-pack: justify;
    
        justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.promotion-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 560px;
    min-height: 230px;
    box-sizing: border-box;
    
    padding: 16px 22px 0 19px;
    
    border-radius: 18px;
}

.promotion-block-left {
    background-color: #be3256;
    background-image: url("../img/ras-background.jpg");
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: cover;
}
.promotion-block-right {
    background-color: #451700;
    background-image: url("../img/choko-background.jpg");
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: cover;
}

.promotions h3 {
    margin: 0;
    margin-bottom: 15px;
    
    font-size: 35px;
    line-height: 41px;
}
.promotions p {
    margin: 0;
    margin-right: 10px;

    padding: 0;
    margin-bottom: 43px;
    font-size: 18px;
    font-weight: 700;
}

.promotion-btn {
    margin: auto 0 23px auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.bestsellers {
    margin-top: -10px;
    margin-bottom: 40px;
}

.catalog-item-hit::before {
    content: "";
    
    z-index: 30;
    position: absolute;
    top: 10px;
    left: 0;
    
    width: 61px;
    height: 61px;
    
    background-image: url("../img/hit.svg");
}

.catalog {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
   
    list-style: none;
}

.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    
    margin-right: 2.2%;
    
    width: 22.2%;
    min-height: 405px;
    
    position: relative;
}  

.catalog .catalog-item {
    margin-top: -40px;
    margin-bottom: -16px;
}

.catalog-item:nth-child(4n+1) {
    margin-left: 2.3%;
} 

.catalog-item:nth-child(4n) {
    margin-right: 2.3%;
}  

.catalog-item a:not(.catalog-btn) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width:100%;
    
    color: #ffffff;
}

.bestseller-item-title,
.catalog-item-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    box-sizing: border-box;
    margin: 21px 0 88px;  
    padding: 0 9px;
        
    font-size: 16px;    
    text-align: center;
    font-weight: 500;
}

.bestseller-item-title span,
.catalog-item-title span {
     border-bottom: 1px solid rgba(255,255,255,.4);
}

.catalog-item-price {
    margin: 0;
    margin-top: -56px; 
    margin-right: auto;
    
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.catalog-item-price span {
    font-size: 30px;
}

.catalog-photo {
    margin-top: 8px;
    border-radius: 50%;
}

.catalog .catalog-photo {
    margin-top: 5px;
}

.catalog-item .catalog-btn {
    display: none;
    
    margin-top: auto;
    margin-bottom: 22px;
    padding: 11px 18px;
}

.catalog-item:hover::after,
.catalog-item a:focus::after { 
    content: "";
     
    z-index: 20;
    display: block;
    position: absolute;
    top: 0;
    left: -13px;
    width: 293px;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    box-shadow: 
        0 20px 20px rgba(0,0,0,0.4)
        inset 0 3px 7px rgba(0,0,0,0.35);
    
    cursor: pointer;
    transition: 0.2s;
}

.catalog-item:hover .catalog-btn,
.catalog-item a:focus ~ .catalog-btn {
    z-index: 30;
    
    display: inline-block; 
    vertical-align: top;
    transition: 0.2s;
}

.catalog-item:hover .bestseller-item-title,
.catalog-item:hover .catalog-item-title,
.catalog-item a:focus .bestseller-item-title,
.catalog-item a:focus .catalog-item-title {
    margin-bottom: 20px;
}

.catalog-item:hover .catalog-photo,
.catalog-item:hover p, 
.catalog-item a:focus .catalog-photo,
.catalog-item a:focus p {
    z-index: 25;
    transition: 0.2s;
}


.features {
    width: 100%;
    box-sizing: border-box;
    margin: -90px 0px 40px;
    padding: 26px 0 26px 20px;
    
    color: #323232;
    
    background-color: #ecdfc4;
    background-image: url("../img/waffle-background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 15px;
}

.features h2 {
    margin: 0;
    
    line-height: 30px;
    font-weight: 500;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.features-list li {
    position: relative;
    width: 480px;
    
    padding: 21px 24px 0 58px;
    
}

.features-list li:nth-child(2n) {
    padding-right: 22px;
    margin-left: 2px;
}

.features-list li:first-child::before, 
.features-list li:nth-child(2)::before, 
.features-list li:nth-child(3)::before, 
.features-list li:last-child::before {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 0;  
    
    width: 49px;
    height: 49px;
    
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-list li:first-child::before {
    background-image: url("../img/icecream.svg");
}

.features-list li:nth-child(2)::before {
    background-image: url("../img/cow.svg");
}

.features-list li:nth-child(3)::before {
    background-image: url("../img/leaf.svg");
}

.features-list li:last-child::before {
    background-image: url("../img/thermometer.svg");
}

.blog-preview {
    width: 560px;
    min-height: 170px;
    box-sizing: border-box;
    
        
    padding: 23px 250px 25px 20px;
    
    color: #323232;
    
    background-color: #ffffff;
    background-image: url("../img/straw-background.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.blog-preview h2 {
    font-size: inherit;
    font-weight: 500;
    
    margin: 0;
    margin-bottom: 4px;
}

.blog-preview a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;   
}

.subscribe {
    width: 560px;
    box-sizing: border-box;
    min-height: 210px;
    
    padding: 5px;
    
    color: #5a5a5a;
    
    background-color: #f8f7f4;
    background-image: url("../img/post-background.svg");
    background-position: 0 0;
    background-repeat: repeat-y;
    border-radius: 15px;
}

.subscribe-wrapper {
    position: relative;
        
    background-color: #f8f7f4;
    border-radius: 15px;
    
    padding: 28px 21px 37px;
}

.subscribe-wrapper p {
    margin: 0;
}

.subscribe-wrapper .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: flex-start;
    
    margin-top: 35px;  
}

.subscribe-form input[type="email"] {
    width: 368px;
    font-size: 16px;
}

.subscribe-wrapper .subscribe-btn {
    padding: 10px 16px;
    margin-right: 0;
    margin-left: auto;
}

.map {
    width: 100%;
    position: relative;
}

.map iframe {
    position: absolute;
    
    top: 0;
    left: 0;
    
    z-index: 5;
    width: 100%;
    min-height: 430px;
}

.map .content-wrapper {
    position: relative;
    min-width: 1200px;
    
    padding-top: 63px;
    padding-bottom: 62px;
    padding-right: 2.3;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: end;
            -ms-flex-pack: end;
        justify-content: flex-end;
    
    background-image: url("../img/map.jpg");
    background-color: #849d8f;
    background-position: 50% 0;
    background-repeat: repeat;
    background-size: cover;
}

.map .content-wrapper::after {
    content: "";
    
    z-index: ;
    position: absolute;
    top: 140px;
    left: 265px;
    
    width: 90px;
    height: 150px;
    
    background-image: url("../img/pin.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.map-text-block {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    
    width: 302px;
    min-height: 305px;
    box-sizing: border-box;
    padding: 26px 25px 25px;
        
    color: #323232;
    border-radius: 15px;
    background-color: #fefefe;
}

.map-text {
    margin: 0;
    margin-bottom: 16px;
}

.map-text span {
    display: inline-block;
    
    vertical-align: top;
   
    font-size: 14px;
    line-height: 20px;
}

.map-text b {
    display: inline-block;
    
    vertical-align: top;
    
    font-size: 18px;
    line-height: 24px;
}

.map-text:first-of-type span{
    padding-right: 100px;   
    
}
.map-text b {
    margin-top: 3px;
}

.map-text:last-of-type {
    margin-bottom: 23px;
}
.map-text-block .feedback-btn {
    padding: 10px 30.5px;
}

.inner-page .main-header {
    margin-bottom: 26px;
    padding-top: 9px;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
    
    list-style: none;
    
    color: #ffffff;
    
    font-size: 14px;
    line-height: 16px;
}
.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
    transition: 0.2s
}

.breadcrumbs a::after {
    content: "";
    position: relative;
    display: block;
    height: 1px;
    background-color: rgba(255,255,255,.2);
}

.page-title {
    margin: 0;      
    padding: 0;
    margin-bottom: 8px;
        
    font-size: 35px;
    line-height: 41px;
}

.filters {
    margin-bottom: 75px;
}

.filters-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
            -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.filter-category {
    position: relative;
    
    margin: 0;
    margin-right: 15px;
    padding: 0;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    
    border: none;
}

.filter-category legend {
    padding: 16px 15px 6px;    
}

.filter-box {
    min-height: 36px;
}

.filter-box-sort {
    padding: 9px 40px 9px 15px;
    
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: 168px 50%;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.filter-category .filter-box-sort:hover {
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/select-arrow-dark.svg");
}

.filter-box::-ms-expand {
    display:none;
}

.filter-box .select-option {
    color: #323232;
    background-color: #ffffff;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    border: none;
}

.filter-category .filter-box {
    margin: 0;
        
    list-style: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    
    background-color: #9db1a5;
    border-radius: 18px;
}

.filter-box-price {
    position: relative;
    width: 218px;
    box-sizing: border-box;
    
    padding: 16px 21px;
}

.filter-box-price .main-scale {
    height: 4px;
    
    background-color: rgba(255,255,255,0.5);    
}

.main-scale .middle-scale {
    position: absolute;
    
    left: 35px;
    
    height: 4px;
    width: 106px;
    
    background-color: #ffffff;
}

.filter-box-price .range {
    position: absolute;
    
    bottom: 8px;
    
    width: 4px;
    height: 4px;
    
    background-color: #849d8f;
    border: 8px solid #ffffff;
    border-radius: 50%;
    
    cursor: pointer;
}

.filter-box-price .range:hover {
    box-shadow: 0 0 0 1px #ffffff;
    transition: 0.2s
}

.filter-box-price .range-min {
    left: 35px;
}

.filter-box-price .range-max {
    right: 65px;
}

.filter-box-fat,
.filter-box-topping {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    
    margin: 0;
    padding: 0;
}

.filter-box-fat {
    width: 413px;
}      

.filter-category .filter-box-topping {
    width: 700px;   
}

.filter-box li { 
    position: relative; 
    padding: 9px 0 9px 21px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
            -ms-flex-align: center; 
        align-items: center; 
}

.filter-box li:first-child {
    margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    padding: 0;
    cursor: pointer;
}

input[type="radio"]:not(:checked) + label::before,
input[type="radio"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::before,
input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    
    height: 20px;
    width: 20px;
    
    left: -10px;
    top: 8px;
    
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

input[type="radio"]:not(:checked) + label::before,
input[type="radio"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::before,
input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    
    height: 20px;
    width: 20px;
    
    left: -10px;
    top: 8px;
    
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

input[type="radio"]:not(:checked) + label::before {
    background-image: url("../img/radio-off.svg");    
}

input[type="radio"]:checked + label::after {
    background-image: url("../img/radio-on.svg");    
}

input[type="checkbox"]:not(:checked) + label::before {
    background-image: url("../img/checkbox-off.svg");    
}

input[type="checkbox"]:checked + label::after {
    width: 23px;
    
    background-image: url("../img/checkbox-on.svg");    
}

input[type="radio"]:not(:checked):hover + label::before ,
input[type="radio"]:checked:hover + label::after, 

input[type="checkbox"]:not(:checked):hover + label::before,
input[type="checkbox"]:checked:hover + label::after { 
    opacity: 1;
    transition: 0.1s;
}
input[type="radio"]:checked:focus + label::after, 
input[type="radio"]:not(:checked):focus + label::before,

input[type="checkbox"]:not(:checked):focus + label::before,
input[type="checkbox"]:checked:focus + label::after {
    outline: -webkit-focus-ring-color auto 5px;
    opacity: 1;
    transition: 0.1s;
}

input[type="radio"]:disabled + label,
input[type="radio"]:disabled + label::after,
input[type="radio"]:not(:checked):disabled + label::before {
     opacity: 0.4;
     cursor: auto;
}

input[type="radio"]:disabled + label::after,
input[type="radio"]:not(:checked):disabled + label::before {
     opacity: 0.4;     
}

.filter-btn {
    height: 36px;
    box-sizing: border-box;
    
    margin-top: 38px;
    
    padding: 7px 30px 7px;
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
     
    background-color: #9db1a5;
    border: 2px solid #ffffff;
    border-radius: 18px;
}
.filter-btn:hover,
.filter-btn:focus {
    color: #323232;
    
    background-color: #ffffff;
    transition: 0.2s
}    

.filter-btn:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px #696969;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
    
    width: 195px;
    margin: 0;
    margin-left: auto;
    padding: 0; 
    
    list-style: none;
    
    color: #ffffff;
    line-height: 18px;
    font-weight: 500;    
}

.pagination-list a {
    display: block;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    
    margin: 0 0 0 3px;
    padding: 3.5px 0; 
    color: #ffffff;  
    display: inline-block;
    text-align: center;
    vertical-align: middle;
            
    line-height: 18px;
    font-weight: 500;
    border-radius: 50%;
}
.pagination-list a:last-child {
    margin-right: 0;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: #ffffff;
    
    background-color: #9db1a5;    
}

.pagination-list a:active,
.pagination-item-current a {
    color: #323232;
    
    background-color: #ffffff;
}

.pagination-list a.back:hover,
.pagination-list a.back:focus,
.pagination-list a.back:active,
.pagination-list a.next:hover,
.pagination-list a.next:focus,
.pagination-list a.next:active {
    background-color: transparent;  
    transition: 0.2s
}

.pagination-list .disabled {
    opacity: 0.2;
}

.pagination-list li:first-child {
    width: 25px;
    height: 25px;
    
    background-image: url("../img/next.svg");
    background-repeat: no-repeat;
    background-position: center right;
    -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
}

.pagination-list li:last-child {
    width: 25px;
    height: 25px;
    
    background-image: url("../img/next.svg");
    background-repeat: no-repeat;
    background-position: center right; 
}

.main-footer {
    padding-bottom: 26px;
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    box-sizing: border-box;
    
    margin-top: 15px;
    
    color: #ffffff;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 385px;
    
    margin: 0;
    margin-right: 26px;
    padding: 22px 5px;
        
    list-style: none;
}

.inner-page .footer-social {
    padding: 20px 5px;
}

.footer-social li {
    margin-left: 18px;
    margin-bottom: 10px;
}

.footer-social li:nth-of-type(8n+1) {
    margin-left: 0;
}

.social-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 31px;
    height: 31px;
    box-shadow: 
        0 0 0 3px rgba(233,233,233,0.6),
        inset 0 0 0 1px rgba(233,233,233,0.6);
    border-radius: 50%;
    opacity: 0.8;
}

a.social-btn:hover,
a.social-btn:focus {
    box-shadow: 
        0 0 0 3px rgba(233,233,233,0.7), 
        inset 0 0 0 1px rgba(233,233,233,0.6);
    opacity: 1;
    transition: 0.2s
}

a.social-btn:active {
    box-shadow: 
        0 0 0 3px rgba(233,233,233,0.7), 
        inset 0 2px 1px rgba(136,136,136,1);
}

.supplier-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    margin: 0;
    margin-right: auto;
    padding: 0;
    padding-top: 16px;
    box-sizing: border-box;
           
    list-style: none;   
}

.supplier-col {
    margin: 0;
    padding: 0;

    list-style: none;
}

.inner-page .supplier-info {
    padding: 14px 0 0 0;
}

.supplier-info a {
    position: relative;
    margin-right: 32px;
    vertical-align: top;
}

.supplier-info .icon {
    position: absolute;
    top: 2px;
    left: -21px;
}

.supplier-info a:hover .icon path, 
.supplier-info a:focus .icon path, 
.supplier-info a:active .icon path {
    fill: #ffbc9e;
    transition: 0.2s
}

.supplier-info a,
.footer-copyright a {
    font-size: 13px;
    line-height: 18px;
}

.supplier-info li:first-child {
    font-weight: 700;
}

.footer-copyright {
    width: 189px;
    
    margin: 0;
    padding: 0;
    
    vertical-align: top;
    font-size: 12px;
    line-height: 18px;
}

.inner-page .footer-copyright {
    margin-top: -1px;
}

.footer-copyright p {
    white-space: nowrap;
    margin: 0;
}

.footer-copyright a {
    font-size: 12px;
    line-height: 18px;
}

.modal-feedback {
    display: none;
    width: 477px;
    min-height: 442px;
    box-sizing: border-box;
    padding: 16px 24px 27px;
    
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    
    margin-left: -238.5px;
    margin-top: -221px;
    
    color: #999999;
    background-color: #f8f7f4;  
    border-radius: 10px;
}

.modal-show {
    display: block;   
    -webkit-animation: appearance 0.3s;   
            animation: appearance 0.3s;    
    transition: 0.2s;
}

.modal-feedback form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
}
 
.modal-feedback h2 {
    margin: 0;
    
    color: #323232;
    font-size: 24px;
    line-height: 28px;
}

.modal-feedback input,
.modal-feedback textarea {
    font-size: 16px;  
    margin-top: 20px;
}

input[name="feedback-name"],
input[name="feedback-email"] {
    width: 265px;
}

.modal-error {
    background-color: rgba(239,119,98,0.5);
}

textarea[name="feedback-text"] {
    max-width: 428px;
    min-width: 428px;
    min-height: 155px;
    padding-top: 7px;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 15px;
    
    width: 20px;
    height: 19px;

    font-size: 0;
    
    border: 0;
    background: url("../img/x-big.svg") 0 0 no-repeat;

    cursor: pointer;
}
.modal-btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 9px 20px 10px;
    margin: 25px 0 0 auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    border: none;
}

.overlay {
    display: block;
}